.img-display{
    width: 100%;
  height: 100%;
  object-fit: cover;

}
.container-img{
    height: 500x;
    width: 100%;
}

.container-fluid{
  //  background-color: red;

}
.container.container-body {
    
    background-color: #E95420;
    padding: 50px;
    border-radius: 50px;
    margin: 50px;
    div{
        color: aliceblue;
    }

}