$color-primary:#E95420;
$color-secundary:#f9bca5;
$color-tercero:#f6ff00;
.img-display{
    width: 100%;
  height: 100%;
  object-fit: cover;

}
.container-img{
    height: 500x;
    width: 100%;
}

.container-fluid{
  //  background-color: red;

}
.container.container-body {
    
    background-color: $color-primary;
    padding: 50px;
    border-radius: 50px;
    margin: 50px;
    div{
        color: aliceblue;
    }

}
.card-text{
  color: black;
}
.card{
  width: 100; margin: 30px; align-items: center;
}






