video {  
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.menu-vet { 
    background-color: #E95420 !important;
    background-image: url('./img/pet.png');      

}

.titulo {
    color: #fff;
}