video {  
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.menu-vet { 
    /*background-color: #E95420 !important;*/
    background-image: url('../img/cover.png'); 
}

.titulo{
    color: #E95420;	
	text-align: left;
	padding: 0;
	margin: 0;
	margin-left: 50%;
	transform: translateX(-200%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
	text-shadow: 0 0 5px black;
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}

.descripcion{
    color: #fff;	
	text-align: justify;
	padding: 0;
	margin: 0;
	margin-left: 50%;
	transform: translateX(-200%);
	opacity: 0;
	animation: slide-in-anim-des 1.5s ease-out forwards;
	text-shadow: 0 0 5px black;
}

@keyframes slide-in-anim-des {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}

.cortina{
	background-color: black;
	opacity: 0.5;
}

.ribbon {
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 93px;
	height: 93px;
	text-align: right;
  }
  .ribbon span {
	font-size: 0.8rem;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	line-height: 32px;
	transform: rotate(45deg);
	width: 125px;
	display: block;
	background: #ff0000;
	background: linear-gradient(#ff0000 0%, #9e0101 100%);
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	position: absolute;
	top: 17px;
	right: -29px; 
  }
  
  .ribbon span::before {
	 content: '';
	 position: absolute; 
	 left: 0px; top: 100%;
	 z-index: -1;
	 border-left: 3px solid #ff0000;
	 border-right: 3px solid transparent;
	 border-bottom: 3px solid transparent;
	 border-top: 3px solid #ff0000;
  }
  .ribbon span::after {
	 content: '';
	 position: absolute; 
	 right: 0%; top: 100%;
	 z-index: -1;
	 border-right: 3px solid #ff0000;
	 border-left: 3px solid transparent;
	 border-bottom: 3px solid transparent;
	 border-top: 3px solid #ff0000;
  }
  
  .imagen img {
	cursor: pointer;
  }

  .modalImg {
	cursor: pointer;
	border-radius: 0.4rem;
  }

  .imodalImg:hover {
	opacity: 0.8;
  }

  .modal {
	display: none;
	/* ocultar por defecto */
	position: fixed;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border: solid 1px;
	background: rgba(58, 58, 58, 0.9);
	padding-top: 5%;
	overflow: hidden;
  }

  #modalImg {
	display: block;
	position: fixed;
	width: auto;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* center to window */
  }

  #modalClose {
	position: absolute;
	cursor: pointer;
	top: 30px;
	right: 50px;
	color: #fff;
	transition: all;
	font-weight: bold;
	font-size: 5rem;
  }

  #modalText {
	margin: auto;
	display: block;
	text-align: center;
	color: #ffffff;
  }

  /* animaciones */

  #modalText {
	animation-name: zoom;
	animation-duration: 0.5s;
  }

  @keyframes zoom {
	from {
	  transform: scale(0)
	}
	to {
	  transform: scale(1)
	}
  }
  