/* $small: 300px;
$medium: 900px;
@media screen and (min-width: $small) and (max-width: $medium) {
    body{
      background-color: aliceblue;
    }
    .card{
      width: 100; margin: 10px; align-items: center;
      color: aqua;
    }
  } */

@import './css/servicio.scss';
@import './css/responsive-mobile.scss';
@import './css/mobile-galeria.scss';
